body{
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}
span{
    color: crimson;
}
h1{
    font-style: italic;
    
}
.sector-two{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 600;
}
.sector-two{
    display:flex;}
    .half{
        width: 50%;
        padding-left: 5%;
    }
.half img{
    width: 70%;
}
#two{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}